body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #405d97f1;
  user-select: none;
}

.container {
  border-radius: 30px;
  box-shadow: 15px 10px 0;
  height: 700px;
  width: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #1f2d49f1;
  padding: 40px, 60px;
}

h2 {
  font-size: 24PX;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

.btn {
  margin-bottom: 1rem;
  border: none;
  font-size: 1.5em;
  border-radius: 5px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.game {
  border-radius: 20px;
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #827f7f;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}